@model List<UserListItemViewModel>

<div class="bg-white p-4 rounded">
    <h2 class="h5 mb-4">Users</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Posts</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>
                        <a asp-route="user_profile"  asp-route-userUrl="@user.UserUrl" class="text-decoration-none">
                            @user.Name
                        </a>
                    </td>
                    <td>@user.UserName</td>
                    <td>@user.PostCount</td>
                    <td>@user.CommentCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
