@model PostViewModel
<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4 rounded">
            <h1 class="h4 mb-4">Popular Posts</h1>
            @foreach(var post in @Model.Posts){
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <img src="~/img/@post.PostImage" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5 class="card-title">@post.PostName</h5>
                        @foreach(var tag in post.PostTags)
                        {
                        <a href="#" class="badge bg-danger bg-opacity-10 text-opacity-50 text-primary">@tag.TagName</a>

                        }
                        <p class="card-text">@post.PostText</p>

                        <a asp-route="post_details" asp-route-url="@post.PostUrl" class="btn btn-primary position-absolute bottom-0 end-0 m-3">Read More</a>
                    </div>
                </div>
            </div>
            }
            <div class="my-3"></div>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    </li>
                </ul>
            </nav>
            </h1>
        </div>
    </div>

    <div class="col-lg-4 ">
        <vc:tags-menu></vc:tags-menu>
        <div class="mt-3"></div>
        <vc:new-posts></vc:new-posts>
    </div>
</div>